<div>
  <h1>AngularFire FireStore Demo</h1>
  <input #quantityElement type="number" />
  <input #inputElement type="text" placeholder="nom du produit">
  <button (click)="add(inputElement, quantityElement)">ajouter</button>
  <br/>
  <div>
    <button [disabled]="(displayIsSelected$|async) === false" (click)="toggleDisplayIsSelected()">à acheter</button>
    <button [disabled]="(displayIsSelected$|async) === true" (click)="toggleDisplayIsSelected()">acheté</button>
  </div>
  <ul>
    <li *ngFor="let item of items$|async" (click)="selectItem(item)">
      {{item|json}}
    </li>
  </ul>
</div>